.header {
  position: sticky;
  top: 0;
  z-index: 100;
  color: $color-default-white;
  background: linear-gradient(to bottom, $color-black-pearl 85%, $color-transparent);

  @media (max-width: $vp-1023) {
    position: static;
  }
}

.header__logo {
  margin-right: 20px;

  @media (max-width: $vp-767) {
    margin-top: 5px;
  }
}

.header__logo img {
  max-width: 215px;

  @media (max-width: $vp-767) {
    width: 35px;
    height: 35px;
  }
}


.header__btn {
  min-width: 160px;
  margin-right: 60px;
  margin-left: 24px;

  @media (max-width: $vp-1023) {
    display: none;
  }
}
